<h1>Log In Below:</h1>

<form action="/registrations" method="POST">

Email: <input type="text" name="email" id="email">
Password: <input type="text" name="password" id="password">
<p><input type="submit" value="Log IN" id="submit"></p>
</form>